.app_body{
    /* background: #eee; */
    width: 60%;
    margin: 0 auto;
}
.tweets_wrapper{
    border: 1px solid #f0f0f0;
}

.tweet{
    border: 1px solid #f0f0f0;
    padding: 0.5rem 2rem;
}
.tweet_header{
    display: flex;
    /* justify-content: space-between; */
}
.tweet_header svg{
    font-size: 1.6rem;
}
.tweet_body{

}
.tweet_controls{
    display: flex;
    justify-content: space-between;
}
.tweet_controls__group{
    display: flex;
    justify-content: space-around;
}

.tweet_name{
    font-size: 1.6rem;
    font-weight: bold;
}
.tweet_username{
    font-size: 1.2rem;
    color: rgb(93, 89, 89);
}

.tweet_controls__icon{
    font-size: 1.2rem;
    padding: 0.2rem;
    margin: 0 0.5rem;
}

.tweet_controls__edit{
    margin: 0 0.5rem 0 1rem;
}
.tweet_controls__delete{

}
.tweet_controls__comment{

}
.tweet_controls__like{

}
.tweet_controls__share{

}

.tweet_timestamp{

}